Source: level-zero-vpu-extensions
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Timo Aaltonen <tjaalton@debian.org>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 build-essential,
Standards-Version: 4.6.2
Homepage: https://github.com/intel/level-zero-npu-extensions

Package: level-zero-vpu-extensions
Architecture: amd64
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: This package contains the VPU level zero extension headers
 No binaries or libraries included. This package is a dependency for the
 linux-npu-driver.
